niord-s124/src/main/resources/xsd/s100gmlbase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:gml="http://www.opengis.net/gml/3.2" 
    xmlns="http://www.iho.int/s100gml/1.0"
    targetNamespace="http://www.iho.int/s100gml/1.0" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>IHO TSMAD S-100 common components schema for S-100 GML data format - April 2014.</xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="S100_gmlProfile.xsd"/>
    <!-- Note: See Part 10b regarding application dataset import of GML schemas instead of profile XSD, and declaration of compliance levels -->
    <xs:simpleType name="AgencyCodeType">
        <xs:annotation><xs:documentation>Type for agency codes (AGEN)</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-z0-9][a-zA-z0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IdentificationNumberType">
        <xs:annotation><xs:documentation>Type for identifier FIDN. Range [1, 2^32 - 2]</xs:documentation></xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="4294967294"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="IdentificationSubdivisionType">
        <xs:annotation><xs:documentation>type for identification subdivision (FIDS). Range [1, 2^16 - 2]</xs:documentation></xs:annotation>
        <xs:restriction base="xs:positiveInteger">
            <xs:maxInclusive value="65534"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="FeatureObjectIdentifier">
        <xs:annotation><xs:documentation>Complex type for feature object identifier combines agency, FIDN, FIDS</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="agency" type="AgencyCodeType"/>
            <xs:element name="featureIdentificationNumber" type="IdentificationNumberType"/>
            <xs:element name="featureIdentificationSubdivision" type="IdentificationSubdivisionType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BearingType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="360.0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinus360Degrees">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="1"/>
            <xs:minInclusive value="-360.0"/>
            <xs:maxInclusive value="360.0"/>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- ========================================================== -->
    <!-- Types for dataset general information, March 2014          -->
    <!-- ========================================================== -->
    <xs:simpleType name="MD_TopicCategoryCode">
        <xs:annotation><xs:documentation>Topic categories in S-100 Edition 1.0.0 and gmxCodelists.xml from OGC ISO 19139 XML schemas - see MD_TopicCategoryCode.
            Alternatives to this enumeration: (1) Add the ISO 19139 schemas to this profile and use the codelist MD_TopicCategoryCode instead.
            (2) Ise numeric codes for literals instead of labels, e.g., "1" instead of "farming".</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="farming">
                <xs:annotation><xs:documentation>rearing of animals and/or cultivation of plants. Examples: agriculture, irrigation, aquaculture, plantations, herding, pests and diseases affecting crops and livestock</xs:documentation></xs:annotation>
            </xs:enumeration>         
            <xs:enumeration value="biota">
                <xs:annotation>
                    <xs:documentation>flora and/or fauna in natural environment. Examples: wildlife, vegetation, biological sciences, ecology, wilderness, sealife, wetlands, habitat</xs:documentation>
                </xs:annotation>
            </xs:enumeration>          
            <xs:enumeration value="boundaries">
                <xs:annotation><xs:documentation>legal land descriptions. Examples: political and administrative boundaries</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="climatologyMeteorologyAtmosphere">
                <xs:annotation><xs:documentation>processes and phenomena of the atmosphere. Examples: cloud cover, weather, climate, atmospheric conditions, climate change, precipitation</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="economy">
                <xs:annotation>
                    <xs:documentation>economic activities, conditions and employment. Examples: production, labour, revenue, commerce, industry, tourism and ecotourism, forestry, fisheries, commercial or subsistence hunting, exploration and exploitation of resources such as minerals, oil and gas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="elevation">
                <xs:annotation><xs:documentation>height above or below sea level. Examples: altitude, bathymetry, digital elevation models, slope, derived products</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="environment">
                <xs:annotation><xs:documentation>environmental resources, protection and conservation. Examples: environmental pollution, waste storage and treatment, environmental impact assessment, monitoring environmental risk, nature reserves, landscape</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="geoscientificInformation">
                <xs:annotation><xs:documentation>information pertaining to earth sciences. Examples: geophysical features and processes, geology, minerals, sciences dealing with the composition, structure and origin of the earth s rocks, risks of earthquakes, volcanic activity, landslides, gravity information, soils, permafrost, hydrogeology, erosion</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="health">
                <xs:annotation><xs:documentation>health, health services, human ecology, and safety. Examples: disease and illness, factors affecting health, hygiene, substance abuse, mental and physical health, health services</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="imageryBaseMapsEarthCover">
                <xs:annotation><xs:documentation>base maps. Examples: land cover, topographic maps, imagery, unclassified images, annotations</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="intelligenceMilitary">
                <xs:annotation><xs:documentation>military bases, structures, activities. Examples: barracks, training grounds, military transportation, information collection</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="inlandWaters">
                <xs:annotation><xs:documentation>inland water features, drainage systems and their characteristics. Examples: rivers and glaciers, salt lakes, water utilization plans, dams, currents, floods, water quality, hydrographic charts</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="location">
                <xs:annotation><xs:documentation>positional information and services. Examples: addresses, geodetic networks, control points, postal zones and services, place names</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="oceans">
                <xs:annotation><xs:documentation>features and characteristics of salt water bodies (excluding inland waters). Examples: tides, tidal waves, coastal information, reefs</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="planningCadastre">
                <xs:annotation><xs:documentation>information used for appropriate actions for future use of the land. Examples: land use maps, zoning maps, cadastral surveys, land ownership</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="society">
                <xs:annotation><xs:documentation>characteristics of society and cultures. Examples: settlements, anthropology, archaeology, education, traditional beliefs, manners and customs, demographic data, recreational areas and activities, social impact assessments, crime and justice, census information</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="structure">
                <xs:annotation><xs:documentation>man-made construction. Examples: buildings, museums, churches, factories, housing, monuments, shops, towers</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="transportation">
                <xs:annotation><xs:documentation>means and aids for conveying persons and/or goods. Examples: roads, airports/airstrips, shipping routes, tunnels, nautical charts, vehicle or vessel location, aeronautical charts, railways</xs:documentation></xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="utilitiesCommunication">
                <xs:annotation><xs:documentation>energy, water and waste systems and communications infrastructure and services. Examples: hydroelectricity, geothermal, solar and nuclear sources of energy, water purification and distribution, sewage collection and disposal, electricity and gas distribution, data communication, telecommunication, radio, communication networks</xs:documentation></xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO-639-1">
        <xs:annotation><xs:documentation>Utility type for subset of ISO 639-1 alpha-2 language codes</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="en"><xs:annotation><xs:documentation>English</xs:documentation></xs:annotation></xs:enumeration>
            <!-- others? -->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO-639-3">
        <xs:annotation><xs:documentation>Utility type for ISO 639-3 codes</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="eng"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO-3166-1-alpha2">
        <xs:annotation><xs:documentation>Utility type for ISO 3166-1-alpha2 codes</xs:documentation></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="KR"></xs:enumeration>
            <xs:enumeration value="US"></xs:enumeration>
            <xs:enumeration value="JS"><xs:annotation><xs:documentation>Jussland - Not ISO 3166, but needed for sample datasets</xs:documentation></xs:annotation></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <!-- dataset general information -->
    <xs:complexType name="DataSetIdentificationType">
        <xs:annotation><xs:documentation>S-100 Data Set Identification. The fields correspond to S-100 10a-5.1.2.1 fields.
            Attributes encodingSpecification and encodingSpecificationEdition are actually redundant here because in an XML schema the encoding specification and encoding specification edition are usually implicit in the namespace URI.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="encodingSpecification" type="xs:string" fixed="S-100 Part 10b">
                <xs:annotation><xs:documentation>Encoding specification that defines the encoding.</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="encodingSpecificationEdition" type="xs:string" fixed="1.0">
                <xs:annotation><xs:documentation>Edition of the encoding specification</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="productIdentifier" type="xs:string">
                <xs:annotation><xs:documentation>Unique identifier of the data product as specified in the product specification</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="productEdition" type="xs:string">
                <xs:annotation><xs:documentation>Edition of the product specification</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="applicationProfile" type="xs:string">
                <xs:annotation><xs:documentation>Identifier that specifies a profile within the data product</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetFileIdentifier" type="xs:string">
                <xs:annotation><xs:documentation>The file identifier of the dataset</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetTitle" type="xs:string">
                <xs:annotation><xs:documentation>The title of the dataset</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetReferenceDate" type="xs:date">
                <xs:annotation><xs:documentation>The reference date of the dataset</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetLanguage" type="ISO-639-1" default="en">
                <xs:annotation><xs:documentation>The (primary) language used in this dataset</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetAbstract" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>The abstract of the dataset</xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="datasetTopicCategory" type="MD_TopicCategoryCode" maxOccurs="unbounded">
                <xs:annotation><xs:documentation>A set of topic categories</xs:documentation></xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataSetStructureInformationType">
        <xs:annotation><xs:documentation>Data Set Structure information</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element name="datasetCoordOriginX" type="xs:double" minOccurs="0"><xs:annotation><xs:documentation>Shift used to adjust X coordinate before encoding</xs:documentation></xs:annotation></xs:element>
            <xs:element name="datasetCoordOriginY" type="xs:double" minOccurs="0"><xs:annotation><xs:documentation>Shift used to adjust Y coordinate before encoding</xs:documentation></xs:annotation></xs:element>
            <xs:element name="datasetCoordOriginZ" type="xs:double" minOccurs="0"><xs:annotation><xs:documentation>Shift used to adjust Z coordinate before encoding</xs:documentation></xs:annotation></xs:element>
            <xs:element name="coordMultFactorX" type="xs:positiveInteger" minOccurs="0"><xs:annotation><xs:documentation>Floating point to integer multiplication factor for X coordinate or longitude</xs:documentation></xs:annotation></xs:element>
            <xs:element name="coordMultFactorY" type="xs:positiveInteger" minOccurs="0"><xs:annotation><xs:documentation>Floating point to integer multiplication factor for Y coordinate or latitude</xs:documentation></xs:annotation></xs:element>
            <xs:element name="coordMultFactorZ" type="xs:positiveInteger" minOccurs="0"><xs:annotation><xs:documentation>Floating point to integer multiplication factor for Z coordinate or depths or height</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nInfoRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of information records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nPointRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of point records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nMultiPointRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of multipoint records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nCurveRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of curve records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nCompositeCurveRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of composite curve records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nSurfaceRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of surface records in the data set</xs:documentation></xs:annotation></xs:element>
            <xs:element name="nFeatureRec" type="xs:nonNegativeInteger" minOccurs="0"><xs:annotation><xs:documentation>Number of feature records in the data set</xs:documentation></xs:annotation></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AbstractAttributeType" abstract="true">
        <xs:annotation><xs:documentation>Abstract type for attributes</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractGMLType"/>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="InformationPropertyType">
        <xs:annotation><xs:documentation>Abstract type for an S-100 information associations</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="AbstractAttributeType">
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InverseInformationAssociationType">
        <xs:annotation><xs:documentation>Abstract type for the inverse association to an information association.</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="AbstractAttributeType">
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="FeaturePropertyType">
        <xs:annotation><xs:documentation>Abstract type for an S-100 feature association</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="AbstractAttributeType">
                <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="informationAssociation" type="InformationPropertyType"/>
    
    <xs:element name="invInformationAssociation" type="InverseInformationAssociationType"/>
        
    <xs:element name="featureAssociation" type="FeaturePropertyType"/>  
    
    <xs:element name="invFeatureAssociation" type="FeaturePropertyType"/>   
    
    <xs:complexType name="AbstractInformationType">
        <xs:annotation><xs:documentation>Abstract type for an S-100 information type. This is the base type from which domain application schemas derive definitions for their individual information types. It provides for all information types in the data product's GML application schema to have properties for information associations and inverse information associations.</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractGMLType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element ref="invInformationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AbstractFeatureType">
        <xs:annotation><xs:documentation>Abstract type for an S-100 feature. This is the base type from which domain application schemas derive definitions for their individual features. It derives from GML AbstractFeatureType. It provides for all information types in the data product's GML application schema to have feature identifiers and properties for feature associations, information associations and inverse information associations.</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="featureObjectIdentifier" type="FeatureObjectIdentifier" minOccurs="0"/>
                    <xs:element  minOccurs="0" maxOccurs="unbounded" ref="informationAssociation"/>
                    <xs:element  minOccurs="0" maxOccurs="unbounded" ref="featureAssociation"/>
                    <xs:element  minOccurs="0" maxOccurs="unbounded" ref="invFeatureAssociation"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PointType">
        <xs:annotation><xs:documentation>S-100 point type adds an information association to the GML spatial type Point</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:PointType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Point" type="PointType" substitutionGroup="gml:AbstractGeometricPrimitive"/>
        
    
    <xs:complexType name="PointPropertyType">
        <xs:annotation><xs:documentation>Point property using the S-100 point type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="Point" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    
    <xs:element name="pointProperty" type="PointPropertyType"/>
        
    
    
    <xs:complexType name="MultiPointType">
        <xs:annotation><xs:documentation>S-100 multipoint type adds an information association to the GML spatial type MultiPoint</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:MultiPointType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="MultiPoint" type="MultiPointType" substitutionGroup="gml:AbstractGeometricAggregate"/>
        
    <xs:complexType name="MultiPointPropertyType">
        <xs:annotation><xs:documentation>MultiPoint property using the S-100 multipoint type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="MultiPoint" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    
    <xs:element name="multiPointProperty" type="MultiPointPropertyType"/>
    
    <xs:complexType name="CurveType">
        <xs:annotation><xs:documentation>S-100 curve type adds an information association to the GML spatial type Curve</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:CurveType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Curve" type="CurveType" substitutionGroup="gml:Curve"/>
        
    <xs:complexType name="CurvePropertyType">
        <xs:annotation><xs:documentation>Curve property using the S-100 curve type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="Curve" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    
    <xs:element name="curveProperty" type="CurvePropertyType"/>
    
    
    <xs:complexType name="CompositeCurveType">
        <xs:annotation><xs:documentation>S-100 composite curve type adds an information association to the GML spatial type CompositeCurve</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:CompositeCurveType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CompositeCurve" type="CompositeCurveType"/>
        
    <xs:complexType name="CompositeCurvePropertyType">
        <xs:annotation><xs:documentation>Composite Curve property using the S-100 composite curve type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="CompositeCurve" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    
    <xs:element name="compositeCurveProperty" type="CompositeCurvePropertyType"/>
    
    <xs:element name="OrientableCurve" type="gml:OrientableCurveType" substitutionGroup="gml:AbstractCurve">
        <xs:annotation><xs:documentation>S-100 orientable curve is the same as GML orientable curve. Added for consistency.</xs:documentation></xs:annotation>
    </xs:element>
        
        <xs:complexType name="OrientableCurvePropertyType">
            <xs:annotation><xs:documentation>Orientable Curve property using the S-100 orientable curve element.</xs:documentation></xs:annotation>
            <xs:sequence>
                <xs:element ref="OrientableCurve" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
        </xs:complexType>
        
        <xs:element name="orientableCurveProperty" type="OrientableCurvePropertyType"/>
        
        
    <xs:group name="curves">
        <xs:annotation><xs:documentation>Group of all S-100 curve types.</xs:documentation></xs:annotation>
        <xs:choice>
            <xs:element ref="Curve"/>
            <xs:element ref="CompositeCurve"/>
            <xs:element ref="OrientableCurve"/>
        </xs:choice>
    </xs:group>
    <xs:group name="curveProperties">
        <xs:annotation><xs:documentation>This property allows a feature definition to allow curve geometry to be encoded as curve/composite curve/orientable curve.</xs:documentation></xs:annotation>
        <xs:choice>
            <xs:element ref="curveProperty"/>
            <xs:element ref="compositeCurveProperty"/>
            <xs:element ref="orientableCurveProperty"/>
        </xs:choice>
    </xs:group>
    
    <xs:complexType name="SurfaceType">
        <xs:annotation><xs:documentation>S-100 surface type adds an information association to the GML spatial type Surface</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:SurfaceType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Surface" type="SurfaceType" substitutionGroup="gml:Surface"/>
    
    <xs:complexType name="SurfacePropertyType">
        <xs:annotation><xs:documentation>Surface property using the S-100 surface type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="gml:AbstractSurface" minOccurs="0"/><!-- add substitution group heads like abstractsurface -->
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    <xs:element name="surfaceProperty" type="SurfacePropertyType"/>
        
    <xs:complexType name="PolygonType">
        <xs:annotation><xs:documentation>S-100 polygon type adds an information association to the GML spatial type Polygon</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:PolygonType">
                <xs:sequence>
                    <xs:element ref="informationAssociation" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Polygon" type="PolygonType"  substitutionGroup="gml:Polygon" >
        <xs:annotation>
            <xs:documentation>S100 version of polygon type</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="PolygonPropertyType">
        <xs:annotation><xs:documentation>Polygon property using the S-100 polygon type.</xs:documentation></xs:annotation>
        <xs:sequence>
            <xs:element ref="Polygon" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
    </xs:complexType>
    <xs:element name="polygonProperty" type="PolygonPropertyType"/>
    
    <xs:complexType name="S100_ArcByCenterPointType">
        <xs:annotation><xs:documentation>Type for S-100 arc by center point geometry</xs:documentation></xs:annotation>
        <xs:complexContent>
            <xs:extension base="gml:AbstractCurveSegmentType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="gml:pos"/>
                        <xs:element ref="gml:pointProperty"/>
                    </xs:choice>
                    <xs:element name="radius" type="gml:LengthType"/>
                    <xs:element name="startAngle" type="BearingType" minOccurs="0"/>
                    <xs:element name="angularDistance" type="PlusOrMinus360Degrees" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="interpolation" type="gml:CurveInterpolationType" fixed="circularArcCenterPointWithRadius"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!-- startAngle and angularDistance optional so as to allow Circle to inherit from this type.
        There should be a Schematron constraint to enforce their presence in Arc - or change the S-100 geometry model. -->
    <xs:element name="S100_ArcByCenterPoint" type="S100_ArcByCenterPointType" substitutionGroup="gml:AbstractCurveSegment">
        <xs:annotation>
            <xs:documentation>This variant of the arc requires that the points on the arc shall be
                computed instead of storing the coordinates directly. The single control point is
                the center point of the arc. The other parameters are the radius, the bearing at start,
                and the angle from the start to the end relative to the center of the arc. This
                representation can be used only in 2D. The element radius specifies the radius of
                the arc. The element startAngle specifies the bearing of the arc at the start. The
                element angularDistance specifies the difference in bearing from the start to the end.
                The sign of angularDistance specifies the direction of the arc, positive values mean the
                direction is clockwise from start to end looking down from a point vertically above the
                center of the arc.
                Drawing starts at a bearing of 0.0 from the ray pointing due north from the center. If the
                center is at a pole the reference direction follows the prime meridian starting from the pole.
                The interpolation is fixed as "circularArcCenterPointWithRadius". Since this type always
                describes a single arc, the GML attribute "numArc" is not used.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="S100_CircleByCenterPointType">
        <xs:complexContent>
            <xs:restriction base="S100_ArcByCenterPointType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element ref="gml:pos"/>
                        <xs:element ref="gml:pointProperty"/>
                    </xs:choice>
                    <xs:element name="radius" type="gml:LengthType"/>
                    <xs:element name="startAngle" type="BearingType" default="0.0"/>
                    <xs:element name="angularDistance" default="360.0">
                        <xs:simpleType>
                            <xs:restriction base="PlusOrMinus360Degrees">
                                <xs:enumeration value="360.0"/>
                                <xs:enumeration value="-360.0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="S100_CircleByCenterPoint" type="S100_CircleByCenterPointType" substitutionGroup="S100_ArcByCenterPoint">
        <xs:annotation>
            <xs:documentation>An S100_CircleByCenterPoint is an S100_ArcByCenterPoint with angular
                distance +/- 360.0 degrees to form a full circle.
                Angular distance is assumed to be +360.0 degrees if it is missing.
                The interpolation is fixed as "circularArcCenterPointWithRadius". This representation
                can be used only in 2D.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:group name="Geometry">
        <xs:annotation><xs:documentation>group combining all the allowed S-100 geometries (point, all curve types, surface, multipoint)</xs:documentation></xs:annotation>
        <xs:choice>
            <xs:element ref="Point"/>
            <xs:element ref="MultiPoint"/>
            <xs:group ref="curves"/>
            <xs:element ref="Surface"/>
            <xs:element ref="Polygon"/>
        </xs:choice>
    </xs:group>
    
</xs:schema>