niord-s124/src/main/resources/xsd/S124.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- changelog

Version: 0.0.7
Revision date: 2017-05-04
 - Attribute GeneralArea has been assigned type as directory
 - Attribute extReferenceId has been added in the S124_FeatureType
 - attribute "inForceDate" was renamed in "cancellationTime" in the References Information Type.
 - Directory "countryType" has been extended by addition countries codes
 - New attribute S124_affectedChart has been added

Version: 0.0.7
Revision date: 2017-04-12
 - All reserved attributes for T&P NoticesToMariners have been removed. Remained Types and Attributes are related to the Navigational warning's content only.
 - Element's content has been simplified. Redudant elements (types) like AbstractWarningPart, S124_PortWarningPart have been deleted

Version: 0.0.6
Revision date: 2017-03-23
 - The references between The References and Information Notice Part, between the References and Navigational Warning Part were removed. 
 These Parts of Nav Warning may reference on the header of the Nav Warning as NW Preamble

Version: 0.0.5
Revision date: 2017-02-13
 - new attribute "inForceDate" was added in the References Information Type. This date-time is neeeded to define validity of message (in-force in bulletin)
 - new value "in-force" was added in the ReferenceType 

Version: 0.0.4
Revision date: 2017-02-09
 - type MRN was replaced in the parent elements: S124_FeatureType, S124_InformationType

Version: 0.0.3
Revision date: 2017-01-25
 - For atribute SourceDate minOccurs was changed on "0" instead of "1"
 - Atribute name was renamed from “navOrMetArea” in “NameOfSeries” 
 - Atribute name was renamed from “keySubject” in “Subject”
 - For atribute information in AbstractWarningPart minOccurs was changed on "0" instead of "1"
 - For atribute FixedDateRange in AbstractWarningPart maxOccurs was changed on "unbounded" instead of "1"

Version: 0.0.2
Revision date: 2017-01-16
 - Updated order for S124_NWPreamble for general category and title 
 - Updated order for S124_AbstractWarningPart
 - Added type MRN. Added MRN based identifiers for S124-messages
 - Added "S124_" at the beginning of names NWPreample, AbstractWarningPart, InformationNoticePart, References, NavigationalWarningPart, PortWarningPart, InformationType, FeatureType
 - Added attribute AreaAffected (The area affected by the warning. The geometric primitive must be a surface bounded by a polygon or circle by center point and radius as defined in S-100 Part 7.)
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:S100="http://www.iho.int/s100gml/1.0" xmlns:s100_profile="http://www.iho.int/S-100/profile/s100_gmlProfile" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns="http://www.iho.int/S124/gml/1.0" targetNamespace="http://www.iho.int/S124/gml/1.0" elementFormDefault="unqualified" version="0.0.7">
	<!-- ============================================================================================= -->
	<!-- S100 XML/GML Schema for S-124 (Navigational Warnings).                                       -->
	<!-- ============================================================================================= -->

	<xs:annotation>
		<xs:documentation>Application schema for Navigational warnings sample dataset</xs:documentation>
	</xs:annotation>

	<xs:import namespace="http://www.iho.int/s100gml/1.0" schemaLocation="s100gmlbase.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="S100_gmlProfile.xsd"/>
	<xs:import namespace="http://www.iho.int/S-100/profile/s100_gmlProfile" schemaLocation="S100_gmlProfileLevels.xsd"/>

	<!-- =============================================== -->
	<!-- spatial property convenience types    -->
	<!-- =============================================== -->
	<xs:complexType name="PointOrSurface">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CurveOrSurface">
		<xs:choice>
			<xs:element ref="S100:curveProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PointCurveSurface">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:curveProperty"/>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PointOrCurve">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
			<xs:element ref="S100:curveProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Point">
		<xs:choice>
			<xs:element ref="S100:pointProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Curve">
		<xs:choice>
			<xs:element ref="S100:curveProperty"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GM_Surface">
		<xs:choice>
			<xs:element ref="S100:surfaceProperty"/>
		</xs:choice>
	</xs:complexType>

	<!-- ============================================================ -->
	<!-- complex attributes, feature, and information types           -->
	<!-- ============================================================ -->

<xs:element name="S124_FeatureType" type="S124_FeatureTypeType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="S124_FeatureTypeType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized feature type which carry all the common attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="id" type="MRN" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="extReferenceId" type="MRN" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="geometry" type="PointCurveSurface" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="areaAffected" type="PointCurveSurface" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="radius" type="xs:float" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<xs:element name="S124_NavigationalWarningPart" type="S124_NavigationalWarningPartType" substitutionGroup="S124_FeatureType"/>
	<xs:complexType name="S124_NavigationalWarningPartType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_FeatureTypeType">
				<xs:sequence>
					<xs:element name="horizontalDatum" type="EPSGType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/> 
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<xs:element name="S124_InformationType" type="S124_InformationTypeType" abstract="true"/>
	<xs:complexType name="S124_InformationTypeType" abstract="true">
		<xs:annotation>
			<xs:documentation>Generalized information type which carry all the common attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100:AbstractInformationType">
				<xs:sequence>
					<xs:element name="id" type="MRN" minOccurs="1" maxOccurs="1"/>
					<xs:element name="provides" type="gml:ReferenceType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<xs:element name="S124_NWPreamble" type="S124_NWPreambleType" substitutionGroup="S124_InformationType"/>
	<xs:complexType name="S124_NWPreambleType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<xs:element name="messageSeriesIdentifier" type="S124_messageSeriesIdentifierType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="sourceDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="generalCategory" type="generalCategoryType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="generalArea" type="generalAreaType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="locality" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="title" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="affectedCharts" type="S124_affectedChartType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="theWarningPart" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<xs:element name="S124_InformationNoticePart" type="S124_InformationNoticePartType" substitutionGroup="S124_InformationType"/>
	<xs:complexType name="S124_InformationNoticePartType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<xs:element name="Subject" type="S124_LocalizedTextType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fixedDateRange" type="fixedDateRangeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
</xs:complexType>

<xs:element name="S124_References" type="S124_ReferencesType" substitutionGroup="S124_InformationType"/>
	<xs:complexType name="S124_ReferencesType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S124_InformationTypeType">
				<xs:sequence>
					<xs:element name="referenceType" type="S124_referenceTypeType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="messageReference" type="S124_messageSeriesIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="cancellationTime" type="cancellationTimeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="header" type="gml:ReferenceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="S124_LocalizedTextType">
		<xs:sequence>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="fixedDateRangeType">
		<xs:annotation>
			<xs:documentation>Describes a single fixed period, as the date range between its sub-attributes.
Remarks: Sub-attributes date end and date start must have the calendar year encoded using 4 digits for the calendar year (CCYY). Month (MM) and day (DD) are optional.
(This definition merges the planned S-100 temporal model with the current S-101 DCEG definition of fixed date range.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timeOfDayStart" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateStart" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The start date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end date or time of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cancellationTimeType">
		<xs:annotation>
			<xs:documentation>Describes a end date before that message is left in-force.
Remarks: Sub-attributes date end must have the calendar year encoded using 4 digits for the calendar year (CCYY). Month (MM) and day (DD) are optional.
(This definition merges the planned S-100 temporal model with the current S-101 DCEG definition of fixed date range.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timeOfDayEnd" type="xs:time" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateEnd" type="S100_TruncatedDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The end date\time.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="S124_messageSeriesIdentifierType">
		<xs:annotation>
			<xs:documentation> xxx </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameOfSeries" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="typeOfWarning" type="S124_typeOfWarningType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="warningNumber" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="year" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="productionAgency" type="S124_LocalizedTextType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="country" type="countryType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="S124_affectedChartType">
		<xs:sequence>
			<xs:element name="chartAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="internationalChartAffected" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="language" type="ISO639-3" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="generalAreaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Baltic sea">
			</xs:enumeration>
			<xs:enumeration value="Skagerrak">
			</xs:enumeration>
			<xs:enumeration value="Kattegat">
			</xs:enumeration>
			<xs:enumeration value="Lake Vänern and Trollhätte Canal">
			</xs:enumeration>
			<xs:enumeration value="The Sound">
			</xs:enumeration>
			<xs:enumeration value="The Belts">
			</xs:enumeration>
			<xs:enumeration value="Western Baltic">
			</xs:enumeration>
			<xs:enumeration value="Southern Baltic">
			</xs:enumeration>
			<xs:enumeration value="South-eastern Baltic">
			</xs:enumeration>
			<xs:enumeration value="Central Baltic">
			</xs:enumeration>
			<xs:enumeration value="Lake Mälaren and Södertälje Canal">
			</xs:enumeration>
			<xs:enumeration value="Northern Baltic">
			</xs:enumeration>
			<xs:enumeration value="Gulf of Riga">
			</xs:enumeration>
			<xs:enumeration value="Gulf of Finland">
			</xs:enumeration>
			<xs:enumeration value="Sea of Åland and Archipelago Sea">
			</xs:enumeration>
			<xs:enumeration value="Sea of Bothnia">
			</xs:enumeration>
			<xs:enumeration value="The Quark">
			</xs:enumeration>
			<xs:enumeration value="Bay of Bothnia">
			</xs:enumeration>
			<xs:enumeration value="Other lakes and canals">
			</xs:enumeration>
			<xs:enumeration value="Western Mediterranean Sea">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MRN">
		<xs:annotation>
			<xs:documentation>Marine Resource Name identifier, based on URN. Note that the NID, including the mrn: prefix can be no more than 31 characters long</xs:documentation>
		</xs:annotation>
			<xs:restriction base="xs:string">
			<xs:pattern value="urn:mrn:[A-Za-z0-9][A-Za-z0-9-]{0,27}:[A-Za-z0-9()+,\-.:=@;$_!*'%/?#]+"/>
			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="S124_referenceTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cancellation">
			</xs:enumeration>
			<xs:enumeration value="source reference">
			</xs:enumeration>
			<xs:enumeration value="in-force">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="S124_typeOfWarningType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="local">
			</xs:enumeration>
			<xs:enumeration value="coastal">
			</xs:enumeration>
			<xs:enumeration value="sub-area">
			</xs:enumeration>
			<xs:enumeration value="NAVAREA">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EPSGType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="4326">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="generalCategoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="aids to navigation">
			</xs:enumeration>
			<xs:enumeration value="dangerous wreck">
			</xs:enumeration>
			<xs:enumeration value="unwleldy tow">
			</xs:enumeration>
			<xs:enumeration value="drifting hazard">
			</xs:enumeration>
			<xs:enumeration value="SAR and anti pollution operations">
			</xs:enumeration>
			<xs:enumeration value="newly discovered dangers">
			</xs:enumeration>
			<xs:enumeration value="route alterations or suspensions">
			</xs:enumeration>
			<xs:enumeration value="underwater operations">
			</xs:enumeration>
			<xs:enumeration value="pipe or cable laying operations">
			</xs:enumeration>
			<xs:enumeration value="seismic surveys">
			</xs:enumeration>
			<xs:enumeration value="research or scientific operations">
			</xs:enumeration>
			<xs:enumeration value="offshore structures">
			</xs:enumeration>
			<xs:enumeration value="radio navigation services">
			</xs:enumeration>
			<xs:enumeration value="special operations">
			</xs:enumeration>
			<xs:enumeration value="operating anomalies identified within ECDIS including ENC issues">
			</xs:enumeration>
			<xs:enumeration value="security-related requirements">
			</xs:enumeration>
			<xs:enumeration value="piracy">
			</xs:enumeration>
			<xs:enumeration value="tsunamis and other natural phenomena">
			</xs:enumeration>
			<xs:enumeration value="World Health Organization (WHO) health advisory information">
			</xs:enumeration>
			<xs:enumeration value="SailRaceEvent">
			</xs:enumeration>
			<xs:enumeration value="military exersices">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="countryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SE">
			</xs:enumeration>
			<xs:enumeration value="RU">
			</xs:enumeration>
			<xs:enumeration value="GB">
			</xs:enumeration>
			<xs:enumeration value="DK">
			</xs:enumeration>
			<xs:enumeration value="FI">
			</xs:enumeration>
			<xs:enumeration value="NO">
			</xs:enumeration>
			<xs:enumeration value="EE">
			</xs:enumeration>
			<xs:enumeration value="LV">
			</xs:enumeration>
			<xs:enumeration value="LT">
			</xs:enumeration>
			<xs:enumeration value="PL">
			</xs:enumeration>
			<xs:enumeration value="DE">
			</xs:enumeration>
			<xs:enumeration value="ES">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- =============================================== -->
	<!-- common types - consider defining a common -->
	<!-- =============================================== -->
	<xs:complexType name="S100_TruncatedDate">
		<xs:annotation>
			<xs:documentation>built in date types from W3C XML schema, implementing S-100 truncated date</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="gDay" type="xs:gDay"/>
			<xs:element name="gMonth" type="xs:gMonth"/>
			<xs:element name="gYear" type="xs:gYear"/>
			<xs:element name="gMonthDay" type="xs:gMonthDay"/>
			<xs:element name="gYearMonth" type="xs:gYearMonth"/>
			<xs:element name="date" type="xs:date"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ISO639-3">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-3 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO639-2">
		<xs:annotation>
			<xs:documentation>stub for ISO 639-2 language codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO3166-alpha2">
		<xs:annotation>
			<xs:documentation>stub for ISO 3166 alpha2 country codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\w{2}"/>
		</xs:restriction>
	</xs:simpleType>

	 <!-- ============================================= -->
	 <!-- types and elements for the dataset definition -->
	 <!-- ============================================= -->
	<xs:complexType name="DatasetType">
		<xs:annotation>
			<xs:documentation>Dataset element for Navigational Warnings dataset as "GML document"</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="DatasetIdentificationInformation" type="S100:DataSetIdentificationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dataset identification information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatasetStructureInformation" type="S100:DataSetStructureInformationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Dataset structure information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="S100:Geometry" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Allows spatial objects to be located outside feature objects (for references, and compatibility with ISO 8211 encoding)</xs:documentation>
						</xs:annotation>
					</xs:group>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="imember" minOccurs="0" maxOccurs="unbounded" type="IMemberType">
							<xs:annotation>
								<xs:documentation>intended for S100 information types. Extension of GML practice, not addressed by ISO 19136.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="member" minOccurs="0" maxOccurs="unbounded" type="MemberType">
							<xs:annotation>
								<xs:documentation>intended for technical GML 3.2 requirement for making the dataset a "GML document" and clause 21.3 of the OGC GML standard</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- treatment of S-100 Information types is provisional, because GML does not have the concept, and they must be modeled as AbstractGML -->
	<xs:complexType name="MemberType">
		<xs:annotation>
			<xs:documentation>dataset member</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureMemberType">
				<xs:sequence>
					<xs:element ref="gml:AbstractFeature"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IMemberType">
		<xs:annotation>
			<xs:documentation>dataset member S-100 infotmation types</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureMemberType">
				<xs:sequence>
					<xs:element ref="S124_InformationType"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DataSet" type="DatasetType"/>
</xs:schema>
